name: Run Tests and Generate Coverage and Type Check

on:
  push:
    branches:
      - main
      - development
  pull_request:
    branches:
      - "*"

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest

    env:
      TERM: dumb

    steps:
      - name: Check out the repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set up Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 #v6.2.0
        with:
          python-version: "3.11"
          cache: 'pip' # caching pip dependencies

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e ".[dev]"

      - name: Run mypy type checks
        run: mypy src tests

      - name: Run contract tests
        run: pytest tests/contract

      - name: Run tests with coverage
        run: pytest --cov-report=xml --cov-fail-under=90 tests/unit

      - name: Upload coverage report
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f #v6.0.0
        with:
          name: coverage-report
          path: coverage.xml # This saves the report as an artifact in GitHub Actions
