name: Run Tests to check CLIs are not fundamentally broken

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "*"

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Check out the repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: "3.11"
          cache: 'pip' # caching pip dependencies

      - name: Set up Golang
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # 6.1.0
        with:
          go-version: "1.23"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install .

      - name: Run the dd-license-attribution script with the --help flag
        run: |
          dd-license-attribution --help

      - name: Run the dd-license-attribution script against the Stratus Red Team repository only for root (quick fail)
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          dd-license-attribution generate-sbom-csv --only-root-project https://github.com/DataDog/stratus-red-team

      - name: Run the dd-license-attribution script against the dd-license-attribution repository with overrides
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          dd-license-attribution generate-sbom-csv --override-spec=.ddla-overrides https://github.com/DataDog/dd-license-attribution > ddla-output.txt
          if ! cmp -s LICENSE-3rdparty.csv ddla-output.txt; then
            echo "Error: LICENSE-3rdparty.csv differs from ddla-output.txt"
            echo "Diff between files:"
            diff -u --color LICENSE-3rdparty.csv ddla-output.txt || true
            # Upload the output file as an artifact
            echo "Uploading ddla-output.txt as an artifact..."
            exit 1
          fi

      - name: Upload ddla-output.txt on failure
        if: failure()
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: ddla-output
          path: ddla-output.txt
          if-no-files-found: error

      - name: Test generate-overrides command with clean CSV
        run: |
          dd-license-attribution generate-overrides LICENSE-3rdparty.csv -o test-overrides.json
